.logo img{
  width: 180px;
  position: relative;
  right: -20px;
  bottom: -20px;
}

body {
    background:linear-gradient(rgb(255, 255, 255),
    rgb(219, 255, 212),
    rgb(217, 255, 167),
    rgb(109, 241, 131));
    font-family:'Roboto Slab';
    color: #220000;
  }
  nav a{
    font-family: "algerian";
    color: #000000;
    position: relative;
    top: -100px;
    right: -240px;
    font-size: 28px;
    margin: 15px;
  }
  h1{
    font-family:"algerian";
    font-weight:400;
    color: #000000;
    position:relative;
    top:-130px;
    left:330px;
  }

.carousel-item img {
  width: 310px;
  height: 310px;
  position: relative;
  top:15px ;
  left: 20px;
  border: solid #000000;
}
.carousel-inner{
  width: 1020px;
  height: 350px;
  position: relative;
  top: -50px;
  left: 230px;
  border: solid #000000;
}
.buscar input{
  width: 90px;
  position: relative;
  top:-630px;
  right:-1100px;
  border: solid #000000;
  border-radius: 15px;
}

.carousel-control-next{
width: 150px;
border: solid #000000;
position: relative;
top: -250px;
right: -1100px;
}
.carousel-control-prev{
  width: 150px;
  border: solid #000000;
  position: relative;
  top:-230px;
  left:250px;
  }
  .botonmenu button{
  border-radius:20px;
  margin:15px;
  padding:8px;
  display: block;
  position: relative;
  top:-480px;
  right:-10px;
  width:180px;
  height:40px;
  }